<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/stylesheets/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/user.css" rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">Home</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>-->
            </div>
            <!---->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= username%><b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li class="divider"></li>
                    <li>
                        <a href="index"><i class="fa fa-fw"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-arrows-v"></i> Activities<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo2" class="collapse">
                        <li>
                            <a class="page-scroll" href="#running">Running</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#biking">Biking</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#jogging">Jogging</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <section id="person">
                <div class="row">

                    <div class="fb-profile">
                        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
                        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
                        <div class="fb-profile-text">
                            <h1><%= fullname%></h1>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-lg-7">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">First Name</h4>
                        </div>
                        <div class="panel-body">
                            <%= username%>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Full Name</h4>
                        </div>
                        <div class="panel-body"><%= fullname%>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Date of Birth</h4>
                        </div>
                        <div class="panel-body"><%= birthdate%>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Gender</h4>
                        </div>
                        <div class="panel-body"><%= gender%>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Weight (Kg)</h4>
                        </div>
                        <div class="panel-body"><%= weight%>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Height (cm)</h4>
                        </div>
                        <div class="panel-body"><%= height%>
                        </div>
                    </div>
                </div>
        <!--</div>-->
        </section>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/stylesheets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/stylesheets/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/stylesheets/js/plugins/morris/raphael.min.js"></script>
<script src="/stylesheets/js/plugins/morris/morris.min.js"></script>
<script src="/stylesheets/js/plugins/morris/morris-data.js"></script>

<!-- Flot Charts JavaScript -->
<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
<script src="/stylesheets/js/plugins/flot/jquery.flot.js"></script>
<script src="/stylesheets/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/stylesheets/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/stylesheets/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/stylesheets/js/plugins/flot/flot-data.js"></script>

</body>

</html>
